@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quicksand:wght@300..700&display=swap');

*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Oswald", sans-serif;
}

body
{
  background: #2c2c54;
  
}